<body>
<form method = "POST" action = "">
  <div class="container">
    <h1>Register</h1>
    
    {% csrf_token %}
    <label for="name"><b>Name</b></label>
    <input type="name" placeholder="name" name="name" required id ="name"> 
    <label for="cnic"><b>cnic</b></label>
    <input type="name" placeholder="cnic" name="cnic" required id ="cnic"> 
    <label for="age"><b>age</b></label>
    <input type="name" placeholder="age" name="age" required id ="age"> 
    <label for="phone"><b>phone</b></label>
    <input type="phone" placeholder="phone" name="phone" required id ="phone">
    <label for="email"><b>email</b></label>
    <input type="email" placeholder="email" name="email" required id ="email">
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign In</button>
      
    </div>
  </div>
</form>
</body>
